/*App*/
.my-wrap{
  display: flex;
  flex-direction: column; /*wrap 竖直排列（三个）*/
  height: 100vh;
}
.my-main{
  flex-grow: 1;
  overflow-y:scroll;/*固定main的大小，y轴显示出滚动条*/
  display: flex;
}
.nav-footer{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;/*水平排列*/
  align-items: center;
}
.nav-footer a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #000;
  flex-grow: 1;
}
.nav-footer a:last-child{
  border: none
}
.btn:active:focus, .btn:focus{
  outline: none
}
.nav-header{
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #00bcd4;
  padding: 0 5px
}
.nav-header h3{
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.nav-header button{
  height: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 16px;
  padding: 5px 10px;
}
.home-wrap{
  background-image: url('./img/true.jpg');
  flex-grow: 1;
  background-size: cover;
  background-position: center center;
  display: flex;
}
.home-cover{
  background-color: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.home-item{
  margin: 0 auto;
  text-align: center;
}
.home-cover h3{
  color:white
}
.home-cover h3 span{
  color: #00bcd4
}
.about-wrap{
  flex-grow: 1;
  padding: 20px;
}
.git-card{
  width: 100%;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 10px, rgba(0, 0, 0, 0.117647) 0px 1px 10px;
  text-align: center;
}
.about-form{
  display: inline;
  width: 50%;
  max-width: 560px
}
.show-git{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 10px, rgba(0, 0, 0, 0.117647) 0px 1px 10px;
  justify-content: space-around;
  color: deeppink;
  font-size: 16px;
  padding: 10px 0
}
